{% extends "main.html" %}
{% block title%}
<title> Charts</title>

{% endblock %}
{% block content %}

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .search {
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .btn {
            float: right;
            width: 20px;
            height: 40px;
            border-radius: 50%;
            border: 1px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;
            font-size: 40px;
        }
        
        input {
            border: 1px solid #38414a;
            height: 50px;
            width: 600px;
            border-radius: 160px;
            padding: 0px 10px;
        }
        
        .heading h1 {
            text-align: center;
            padding-top: 0px;
            margin: 20px 0;
            color: rgb(0, 0, 0);
            font-size: 20px;
        }
        
        .service {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        .sr-items {
            width: 300px;
            height: 250px;
            background-color: #200049;
            border-radius: 5px;
            text-align: center;
            margin: 15px;
        }
        
        .sr-items i {
            width: 100px;
            height: 100px;
            background: rgb(13, 203, 250);
            color: white;
            font-size: 32px;
            line-height: 100px;
            border-radius: 50%;
            margin: 40px;
        }
        
        .Agntprformance {
            font-size: 20px;
            font-weight: 300;
            margin: 10px;
            text-decoration: none;
            color: white;
            display: inline-block;
        }
        
        .ss {
            font-size: 20px;
            font-weight: 300;
            margin: 10px;
            text-decoration: none;
            color: white;
            display: inline-block;
        }
        
        .tss {
            font-size: 20px;
            font-weight: 300;
            margin: 10px;
            text-decoration: none;
            color: white;
            display: inline-block;
        }
        
        .tl {
            font-size: 20px;
            font-weight: 300;
            margin: 10px;
            text-decoration: none;
            color: white;
            display: inline-block;
        }
        
        .sr-items p {
            font-size: 14px;
            font-weight: 400;
            margin: 40px;
            color: white;
            letter-spacing: 0.5px;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border: 1px solid #e7e7e7;
            background-color: #f3f3f3;
        }
        
        li {
            float: left;
        }
        
        li a,
        .dropbtn {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover,
        .dropdown:hover .dropbtn {
            background-color: white;
        }
        
        li.dropdown {
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f3f3f3;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
    </style>


    <!-- <div class="search">
            <input type="text" name="box" placeholder="search anything....">
    
            <div class="btn">
                <a href="#"><i class="fa fa-search fa-10x "></i></a>
            </div>
        </div> -->

    <section>
        <div class="heading">
            <h1> CHARTS </h1>
        </div>
    </section>

    <div class="service">
        <div class="sr-items">
            <i class="fa fa-bar-chart"></i>
            <a href="{% url 'chart' %}" class='Agntprformance'>Traffic Analysis</a>

        </div>

        <div class="sr-items">
            <i class="fa fa-line-chart"></i>
            <a href="{% url 'TicketStatistics' %}" class='tss'>Ticket Statistics</a>

        </div>

        <div class="sr-items">
            <i class="fa fa-bar-chart"></i>
            <a href="{% url 'Average_Ticket_Response' %}" class='Agntprformance'>Ticket Response</a>

        </div>
        <div class="sr-items">
            <i class="fa fa-bar-chart"></i>
            <a href="{% url 'Average_Ticket_Resolution' %}" class='Agntprformance'>Ticket Resolution</a>

        </div>
		<div class="sr-items">
            <i class="fa fa-pie-chart"></i>
            <a href="{% url 'auto' %}" class='Agntprformance'>Automation Ratio</a>

        </div>
        <div class="sr-items">
            <i class="material-icons">face</i>
            <a href="{% url 'customerRating' %}" class='ss'> Customer Rating </a>

        </div>
    </div>

    <div class="service">

    </div>
    </body>
</div>
{% endblock %}