{% extends "main.html" %} 
{% block title%}
<title>Dashboard</title>

{% endblock %}

{% block content %}
<!-- <center>
    <h3>Welcome {{name}}</h3>
    {% if messages %} {% for message in messages %}
    <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}} </small> {% endfor %} {% endif %}
</center> -->
<div class="page-wrapper mdc-toolbar-fixed-adjust ">
    <main class="content-wrapper ">
        <div class="mdc-layout-grid ">
            <div class="mdc-layout-grid__inner ">
                <div style="box-shadow: 0 0 20px rgba(0,0,0,0.4);" class=" mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet box-shadow">
                    <div class="mdc-card info-card info-card--success ">
                        <div class="card-inner">
                            <h5 class="card-title ">Opened</h5>
                            <h3 class="font-weight-dark pb-2 mb-1 border-bottom ">{{unresolved}}</h3>
                            <p class="tx-12 text-muted ">48% target reached</p>
                            <div class="card-icon-wrapper ">
                                <i class="material-icons ">dvr</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="box-shadow: 0 0 20px rgba(0,0,0,0.4);" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet ">
                    <div class="mdc-card info-card info-card--danger ">
                        <div class="card-inner ">
                            <h5 class="card-title ">Overdue</h5>
                            <h3 class="font-weight-dark pb-2 mb-1 border-bottom ">{{overdue}}</h3>
                            <p class="tx-12 text-muted ">55% target reached</p>
                            <div class="card-icon-wrapper ">
                                <i class="material-icons ">attach_money</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="box-shadow: 0 0 20px rgba(0,0,0,0.4);" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet ">
                    <div class="mdc-card info-card info-card--primary ">
                        <div class="card-inner ">
                            <h5 class="card-title ">Closed</h5>
                            <h3 class="font-weight-dark pb-2 mb-1 border-bottom ">{{closed}}</h3>
                            <p class="tx-12 text-muted ">87% target reached</p>
                            <div class="card-icon-wrapper ">
                                <i class="material-icons ">trending_up</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="box-shadow: 0 0 20px rgba(0,0,0,0.4);" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet ">
                    <div class="mdc-card info-card info-card--info ">
                        <div class="card-inner ">
                            <h5 class="card-title ">Onhold</h5>
                            <h3 class="font-weight-dark pb-2 mb-1 border-bottom ">{{unassigned}}</h3>
                            <p class="tx-12 text-muted ">87% target reached</p>
                            <div class="card-icon-wrapper ">
                                <i class="material-icons ">credit_card</i>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} {% endcomment %}

                <div style="box-shadow: 0 0 20px rgba(0,0,0,0.4);" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12 ">
                    <div class="mdc-card ">
                        <div class="d-flex justify-content-between align-items-center ">
                            <h4 class="card-title mb-2 mb-sm-0 ">Ticket Stats</h4>
                            <div class="d-flex justtify-content-between align-items-center ">
                                <p class="d-none d-sm-block text-muted tx-12 mb-0 mr-2 ">Goal reached</p>
                                <i class="material-icons options-icon ">more_vert</i>
                            </div>
                        </div>
                        <div class="d-block d-sm-flex justify-content-between align-items-center ">
                            <h6 class="card-sub-title mb-0 "> </h6>
                            <div class="mdc-tab-wrapper revenue-tab mdc-tab--secondary ">
                                <div class="mdc-tab-bar " role="tablist ">
                                    <div class="mdc-tab-scroller ">
                                        <div class="mdc-tab-scroller__scroll-area ">
                                            <div class="mdc-tab-scroller__scroll-content ">
                                                <button class="mdc-tab mdc-tab--active " role="tab " aria-selected="true " tabindex="0 ">
                                                    <span class="mdc-tab__content ">
                                                        <span class="mdc-tab__text-label ">1W</span>
                                                    </span>
                                                    <span class="mdc-tab-indicator mdc-tab-indicator--active ">
                                                        <span
                                                            class="mdc-tab-indicator__content mdc-tab-indicator__content--underline "></span>
                                                    </span>
                                                    <span class="mdc-tab__ripple "></span>
                                                </button>
                                                <button class="mdc-tab mdc-tab " role="tab " aria-selected="true " tabindex="0 ">
                                                    <span class="mdc-tab__content ">
                                                        <span class="mdc-tab__text-label ">1M</span>
                                                    </span>
                                                    <span class="mdc-tab-indicator mdc-tab-indicator ">
                                                        <span
                                                            class="mdc-tab-indicator__content mdc-tab-indicator__content--underline "></span>
                                                    </span>
                                                    <span class="mdc-tab__ripple "></span>
                                                </button>
                                                <button class="mdc-tab mdc-tab " role="tab " aria-selected="true " tabindex="0 ">
                                                    <span class="mdc-tab__content ">
                                                        <span class="mdc-tab__text-label ">3M</span>
                                                    </span>
                                                    <span class="mdc-tab-indicator mdc-tab-indicator ">
                                                        <span
                                                            class="mdc-tab-indicator__content mdc-tab-indicator__content--underline "></span>
                                                    </span>
                                                    <span class="mdc-tab__ripple "></span>
                                                </button>
                                                <button class="mdc-tab mdc-tab " role="tab " aria-selected="true " tabindex="0 ">
                                                    <span class="mdc-tab__content ">
                                                        <span class="mdc-tab__text-label ">1Y</span>
                                                    </span>
                                                    <span class="mdc-tab-indicator mdc-tab-indicator ">
                                                        <span
                                                            class="mdc-tab-indicator__content mdc-tab-indicator__content--underline "></span>
                                                    </span>
                                                    <span class="mdc-tab__ripple "></span>
                                                </button>
                                                <button class="mdc-tab mdc-tab " role="tab " aria-selected="true " tabindex="0 ">
                                                    <span class="mdc-tab__content ">
                                                        <span class="mdc-tab__text-label ">ALL</span>
                                                    </span>
                                                    <span class="mdc-tab-indicator mdc-tab-indicator ">
                                                        <span
                                                            class="mdc-tab-indicator__content mdc-tab-indicator__content--underline "></span>
                                                    </span>
                                                    <span class="mdc-tab__ripple "></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content content--active ">
                                </div>
                                <div class="content ">
                                </div>
                                <div class="content ">
                                </div>
                                <div class="content ">
                                </div>
                                <div class="content ">
                                </div>
                            </div>
                        </div>
                        <div class="chart-container mt-4">
                            <!-- <canvas id="revenue-chart" height="260"></canvas> -->
                            <canvas id="myChart" height="260"></canvas>
                        </div>
                    </div>
                </div>
                <div style="box-shadow: 0 0 20px rgba(0,0,0,0.4);" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet ">
                    <div class="mdc-card ">
                        <div class="d-flex d-lg-block d-xl-flex justify-content-between ">
                            <div>
                                <h4 class="card-title ">Traffic Analysis</h4>
                                <!-- <h6 class="card-sub-title ">Customers 58.39k</h6> -->
                            </div>
                            <!-- <div id="sales-legend " class="d-flex flex-wrap "></div> -->
                        </div>
                        <div class="chart-container mt-4 ">
                            <canvas id="chart-sales" height="260 "></canvas>
                        </div>
                    </div>
                </div>
                <div style="box-shadow: 0 0 20px rgba(0,0,0,0.4);" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet ">
                    <div class="mdc-card ">
                        <div class="d-flex d-lg-block d-xl-flex justify-content-between ">
                            <div>
                                <h4 class="card-title ">Average Ticket Reply Time
                                </h4>

                            </div>
                            <div id="sales-legend " class="d-flex flex-wrap "></div>
                        </div>
                        <div class="chart-container mt-4 ">
                            <canvas id="Average_Ticket_Replay_time" height="260 "></canvas>
                        </div>
                    </div>
                </div>

                <div style="box-shadow: 0 0 20px rgba(0,0,0,0.4);" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet ">
                    <div class="mdc-card ">
                        <div class="d-flex d-lg-block d-xl-flex justify-content-between ">
                            <div>
                                <h4 class="card-title ">Customer's Rating</h4>

                            </div>
                            <div id="sales-legend " class="d-flex flex-wrap "></div>
                        </div>
                        <div class="chart-container mt-4 ">
                            <canvas id="Customer_Rating" height="260 "></canvas>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </main>

    <!-- <script src="templates/assets/vendors/chartjs/Chart.min.js "></script> -->
</div>

{% endblock %}