{% extends 'main.html' %}
{% block content %}
<!doctype html>
<html>
<head> <title>Documentation</title></head>
<body leftmargin="100px"; rightmargin="5px"; style="background-color:Gainsboro; ">
    <h1>Documentation</h1>
    <div style="width:98%;margin-top:20px;background-color:white; border-width:5px; text-align:justify;padding:15px;">
      <h2>Introduction</h2>
      <p style="padding: 0%; font-size: 16px;">Customer grievance management system makes complaints management very simple as it automates the process which results in minimal human intervention. It plays a very important role for any business firm or company as it enables the company to retain its old customers by solving their problems almost as fast as they appear. The complaints are also classified according to the departments so that the particular complaint ticket could directly go to the concerned executive and not revolve around different departments. The whole system is also inspired by machine learning for automation, which means that if a solution to a particular problem already exists in the database then automatic reply will be sent for that complaint. The system is also designed to entertain complaints from various channels like email web forms and social media.
        It’s very flexible and easy to use. A well-equipped dashboard is provided, All the registered customer care executives can simply login to the dashboard where they can find the customer complaints related to their department. They can either send the solution directly or escalate the complaint to the higher authority. The dashboard also shows the profile of the customer which helps the executives to understand the customer complaints better. 
        The system is also well equipped with different analytics options like customer satisfaction survey, executive performance, ticket lifecycle etc. These data will help a company to be updated about the number of happy customers or the performance of the executives and the way the executives are serving the customers. These data are very important for a company to grow and hence are included in the product.
        
      </p>
    </div>
    <div style="width:98%;margin-top:20px;background-color:white; border-width:5px; text-align:justify;padding:15px;">
      <h2>Product Navigation</h2>
      <ul><p style="padding: 0%;"><b>Login to the Dashboard</b><br>The first page for any project or product should be the sign in or the sign up page and here too we begin with the same.
                              
        Here we have Login page for already registered executives. These executives will already be having there user name and password. They can simply login to the Dashboard by filling the credentials.
        <br><img src="templates/assets/images/1login.jpg" style="display: block; margin-left: auto; margin-right: auto;width:25%;" >
        <br><b>Registeration of new Executive </b><br>An executive who is new to the company can register themselves through the signup option available below the login button. After filling all the details and hitting the signup button, he can get registered.
        <br><img src="templates/assets/images/8signupNewuser.jpg" style="display: block; margin-left: auto; margin-right: auto;width:25%;height: 50%;" >
    
      </p>
    </ul>
    </div>
    <div style="width:98%;margin-top:20px;background-color:white; border-width:5px; text-align:justify;padding:15px;">
      <h2>Dashboard</h2>
      <ul><p style="padding: 0%;">Here’s the dashboard view. It contains all the necessary tools for the complaint resolution. An executive can have a look for the unresolved, overdue, closed and unassigned tickets and work accordingly. Graphical analysis for ticket traffic, average ticket reply time and customer’s rating is also provided. To the left side of the dashboard, we have ticket inbox, reports, charts, information provider and UI documentation.
        <br>
        <br><b>Looking for the different types and status of the tickets </b><br>An executive who is new to the company can register themselves through the signup option available below the login button. After filling all the details and hitting the signup button, he can get registered.
        <br><br><img src="templates/assets/images/2dashboard.jpg" style="display: block; margin-left: auto; margin-right: auto;" >
        <br>At the top of the Dashboard we have the count of the different types of tickets. This gives an idea about how much work has been completed and how much needs to be done.
        <br><br><b>Exploring other Dashboard Functions </b><br>The left side of the Dashboard contains all the important functionalities. These include the ticket inbox, Reports, Charts and the Information provider. An executive / Dashboard user can easily navigate to the different options as per his needs. Logout button is also provides at the bottom to exit the dashboard.         
        <br><br><b>Solving the Customer Grievances </b><br>For the resolution of problems, am executive must navigate to the ticket inbox tab to the left of the dashboard.
        <br><br><img src="templates/assets/images/3ticketnavigation.jpg" style="display: block; margin-left: auto; margin-right: auto;;width:50%;" >
        <br>The next page appears with all the tickets which are to be entertained. By clicking on that particular ticket an executive can easily send the solution message.
        <br><br><img src="templates/assets/images/TicketInbox2.jpg" style="display: block; margin-left: auto; margin-right: auto;;width:90%;" >
        <br>An executive can directly click on the desired ticket and do the necessary action. The interface is shown below.
        <br><br><img src="templates/assets/images/TicketDetails2.jpg" style="display: block; margin-left: auto; margin-right: auto;;width:90%;" >


    </p>
    </ul>
    </div>
    <div style="width:98%;margin-top:20px;background-color:white; border-width:5px; text-align:justify;padding:15px;">
        <h2>Exploring other Dashboard functions</h2>
        <ul><p style="padding: 0%;"><br><b>1. Reports</b>
            <ul>- Executive performance
            <br>- Timesheet summary
            <br>- Ticket Lifecycle
            <br>- Customer satisfaction survey
        </ul>
          <br><b>2. Charts </b><br>
          <ul>- Traffic analysis
          <br>- Ticket statistics
          <br>- Ticket response
          <br>- Ticket resolution
          <br>- Automation ratio
          <br>- Ticket resolution
          <br>- Customer rating
        </ul>
     </p>
      </ul>
      </div>
      <div style="width:98%;margin-top:20px;background-color:white; border-width:5px; text-align:justify;padding:15px;">
        <h2>Information Provider</h2>
        <ul><p style="padding: 0%;">There are times when a company needs to provide a certain information to all its customers at the same time. This information may be related to a certain sale or discount offer / exchange offer or anything else. With the help of information provider, certain information can be passed to many people at the same time.
          <img src="templates/assets/images/informationProvider.jpg" style="display: block; margin-left: auto; margin-right: auto;width:80%;" >
          
        </p>
      </ul>
      </div>
      <div style="width:98%;margin-top:20px;background-color:white; border-width:5px; text-align:justify;padding:15px;">
        <h2>Hierarchy structure</h2>
        <ul><p style="padding: 0%;">There are two types of login in the system.
            <br><b>Admin Login</b>
            <br>Admin will get full access to the product. This means an admin can access whole of the dashboard contents including all the charts, reports, Information provider and the profiles of the customers and the executives.
            <br><b>Executive Login</b>
            <br>This is for the executives who solves the customers’ problems. Executives will get access to the ticket inbox section so that they can look into the incoming complaint tickets and send them the solution message. Also they can view the profile of the customers.
        </p>
      </ul>
      </div>
      <div style="width:98%;margin-top:20px;background-color:white; border-width:5px; text-align:justify;padding:15px;">
        <h2>Product and Explanation</h2>
        <ul><p style="padding: 0%;">The system is designed to send replies to the customers' problems automatically. This system will efficiently and accurately help customers’ with their problems. We tested the effectiveness of the system by the below mentioned formula:-
          <img src="templates/assets/images/formula.jpg" style="display: block; margin-left: auto; margin-right: auto;width:50%;" >
          <br>The system shows 75-80% accuracy.
          
        </p>
      </ul>
      </div>
      <div style="width:98%;margin-top:20px;background-color:white; border-width:5px; text-align:justify;padding:15px;">
        <h2>References</h2>
        <ul><p style="padding: 0%;"><a>
            <a href="https://support.freshdesk.com/support/solutions/45923">https://support.freshdesk.com/support/solutions/45923</a>
            <br><a href="https://freshdesk.com/resources/ebooks/getting-started-with-freshdesk-guide">https://freshdesk.com/resources/ebooks/getting-started-with-freshdesk-guide</a>
          
        </p>
      </ul>
      </div>
    </body>
</html>
{% endblock %}