Hi,
Greetings from Probotiq Solutions.

Thanks for your Email. If you are facing any issues with any of our products/services, please fill the given web form.

Webform link : http://127.0.0.1:8000/dashboard/complainTracking/checkStatus/support

We will reach you soon.

Also feel free to give your valueable feed back/suggestions on given link below :
https://lh3.googleusercontent.com/proxy/gSwCQT898sI85yFcoK_-68zAgeMsTrCXZg4lV3V5kNoId0Hy1eHazG_zy6EjKrkmFHrwHskjFyro3ooBSkMD8IjdvkiacPwU41wkbvtRZjk35Yx9WcMfj5f9iklP4h4c3m0qIQfheA